[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/InTimeTecGitHub
[access "refs/for/refs/*"]
	read = group user/InTimeTecGitHub
	push = group user/InTimeTecGitHub
	label-Code-Review = -2..+2 group user/InTimeTecGitHub
	label-Verified = -1..+1 group user/InTimeTecGitHub
	rebase = group user/InTimeTecGitHub
	removeReviewer = group user/InTimeTecGitHub
	submit = group user/InTimeTecGitHub
[access "refs/heads/*"]
	read = group user/InTimeTecGitHub
	create = group user/InTimeTecGitHub
	push = +force group user/InTimeTecGitHub
	pushMerge = group user/InTimeTecGitHub
[access "refs/tags/*"]
	push = group user/InTimeTecGitHub
	push = +force group user/InTimeTecGitHub
